{{!--
    Citation for this file: main.hbs
    Date: 03/10/2026
    Adapted from: CS340 Canvas Exploration - Web Application Technology, Node.js starter code
    Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>3D Assets Management System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav id="navbar"> 
        <a href="/">&#10141; Home</a>
        <a href="/models">&#10141; Models</a>
        <a href="/artists">&#10141; Artists</a>
        <a href="/materials">&#10141; Materials</a>
        <a href="/textures">&#10141; Textures</a>
        <a href="/model-artist">&#10141; Model &amp; Artist</a>
        <a href="/reset-database" id="resetButton">RESET DATABASE</a>
    </nav>

    <main>
        {{{body}}}
    </main>
    
</body>
</html>