<h1>3D Assets Management System</h1>
<div class="homepageDescription">
    <p>Authors: Ethan Hong &amp; Anthony Sokry</p>
    <p>Group 124</p>
</div>
<p>&copy; 2026 Ethan Hong &amp; Anthony Sokry</p>

<form action="/reset-database" method="POST" style="margin-top: 2em;">
    <button type="submit">Reset Database</button>
</form>
