{{!--
    Citation for this file: home.hbs
    Date: 03/10/2026
    Adapted from: CS340 Canvas Exploration - Web Application Technology, Node.js starter code
    Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
--}}

<h1>3D Assets Management System</h1>
<div class="homepageDescription">
    <p>Authors: Ethan Hong &amp; Anthony Sokry</p>
    <p>Group 124</p>
</div>
<p>&copy; 2026 Ethan Hong &amp; Anthony Sokry</p>
