{{!--
    Citation for this file: home.hbs
    Date: 03/10/2026
    Adapted from: CS340 Canvas Exploration - Web Application Technology, Node.js starter code
    Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
--}}

<h1 class="homeTitle">3D Assets Management System</h1>
<p class="authors">Authors: Ethan Hong &amp; Anthony Sokry</p>
<div>
    <p class="description">Simple system for managing static 3D models, materials, textures, and accompanying artists.</p>
    <div class="homeTables">
        <div class="tabelCard">
            <h1>Models</h1>
            <p>Manage records of static 3D models.</p>
            <a href="/models">&#10141; VIEW</a>
        </div>
        <div class="tabelCard">
            <h1>Artists</h1>
            <p>Manage records of individual artists.</p>
            <a href="/artists">&#10141; VIEW</a>
        </div>
        <div class="tabelCard">
            <h1>Materials</h1>
            <p>Manage records of materials made by artists.</p>
            <a href="/materials">&#10141; VIEW</a>
        </div>
        <div class="tabelCard">
            <h1>Textures</h1>
            <p>Manage records of textures made by artists.</p>
            <a href="/textures">&#10141; VIEW</a>
        </div>
        <div class="tabelCard">
            <h1>Model &amp; Artist</h1>
            <p>Intersection table for managing which 3D models were worked on by which artists.</p>
            <a href="/model-artist">&#10141; VIEW</a>
        </div>
    </div>
</div>
<p class="copyright">&copy; 2026 Ethan Hong &amp; Anthony Sokry</p>
